Syakira Tugas 3'5 (1).json
{
  "name": "Syakira Tugas 3'5",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "embeddingBatchSize": 20,
        "options": {
          "queryName": "match_document"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1168,
        544
      ],
      "id": "5505fc39-064a-48d3-b752-b8a51bf98b66",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "VX4HHNLPZc5i0ZI1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        768
      ],
      "id": "1384c7c0-a635-4176-9752-57d17fc143f0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        768
      ],
      "id": "9e6767f6-4631-4b6f-ace2-d0de8867b83f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TApKa6u1pvGP0voC",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        272,
        816
      ],
      "id": "b2fea5ec-e023-4f83-9e19-1826a62bf60f",
      "name": "When chat message received",
      "webhookId": "65119dd6-b2d2-4f32-82db-997e3978441f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah asisten ahli akademik yang wajib menggunakan tool Supabase Vector Store untuk memberikan jawaban teknis mengenai kriteria penulisan Tugas Akhir (TA) mulai dari struktur judul berbentuk kata benda pekerjaan yang memuat objek dan metode, rincian substansi BAB I hingga BAB V, hingga ketentuan daftar referensi yang mencantumkan minimal 15 sumber rujukan primer dari 5 tahun terakhir. Anda harus membimbing pengguna agar memenuhi standar format penulisan yang bebas dari kesalahan ketik, menggunakan standar sitasi IEEE, serta menyertakan abstrak lengkap dalam dua bahasa. Dalam memberikan bantuan, pastikan seluruh penjelasan seperti latar belakang yang relevan, rumusan masalah yang logis, hingga kesimpulan yang menjawab permasalahan selalu mengacu pada informasi yang tersedia di data vektor, jika informasi tidak tersedia di Tool tersebut, jawablah “Mohon maaf, saya belum dapat memberikan jawaban.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        816
      ],
      "id": "27633d48-2ac1-4440-b22c-f0345101f644",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        1040
      ],
      "id": "8306b916-ce0c-4901-998b-dc1631c95018",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TApKa6u1pvGP0voC",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool Supabase Vector Store1 ini untuk menjawab pertanyaan tentang penulisan ilmiah Mahasiswa STT  NF.",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        1040
      ],
      "id": "c2f1aeeb-5c9b-47dd-bf6f-495a99bf0c09",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "VX4HHNLPZc5i0ZI1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        624,
        1040
      ],
      "id": "6059015b-9f80-4644-8701-07c9b9bb7125",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "vFn6c4CjDP7Ksd1d",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1TY4OQ7znAamL6yeCP4bfq3_5nO8JQNLM",
          "mode": "list",
          "cachedResultName": "Syakira 5",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TY4OQ7znAamL6yeCP4bfq3_5nO8JQNLM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        544
      ],
      "id": "d96d8835-4a2f-46d5-8a50-3736374daa16",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Umevqm6SZ7eSTheU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e53f253-a41f-4dc5-9183-56c47a222c27",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        544
      ],
      "id": "e2d7ad19-0c96-43d6-900a-1ac9b477b5db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        544
      ],
      "id": "57cd195a-ecd8-433e-bb60-32bf3f80b920",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Umevqm6SZ7eSTheU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        912,
        544
      ],
      "id": "f197a632-0602-419b-9835-6895f8f7e2f1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        1168
      ],
      "id": "3afa92b3-8414-43a8-b749-f98b9e2ad6c1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "TApKa6u1pvGP0voC",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1344,
        976
      ],
      "id": "fc5a561a-3c74-4051-a9c9-18f8b2ebf1b5",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "491bf3d4-89f5-418d-bd27-c3ab0dec07a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c1e1bed1bf06d1d5d2789cdf2ba250179980cbe0f7c3de02946a08e7711110b"
  },
  "id": "WQf7jE9oxnXZ47BM",
  "tags": []
}